<!DOCTYPE html>
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <title>Pod Deployer</title>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">Pod Deployer</h1>
      <p class="lead">This is a simple project to deploy a pod to a kubernetes cluster through UI</p>
      <hr class="my-4">
      <p>It uses kubeconfig file for connecting to kubernetes cluster</p>
      <a class="btn btn-info btn-lg" href="https://github.com/kube-go/pod-deployer" role="button">Learn more</a>
    </div>
    {{if .Success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Pod <strong>{{ .PodName }}</strong> will be deployed in <strong> {{ .Namespace }} </strong> namespace shortly
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{ else if .Failure}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Pod <strong id="pod">{{ .PodName }}</strong> couldn't be deployed in <strong> {{ .Namespace }} </strong> <br>
      {{ .ErrorMsg }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="alert alert-info alert-dismissible fade show" role="alert">
      Reload to try again!
    </div>
    {{else}}
    <div class="alert alert-info" role="alert">
      <strong>Fill in details for pod below and click Deploy</strong>
    </div>
    <form method="POST">
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <input type="text" class="form-control w-25" id="image" name="image">
        </div>
      </div>
      <div class="form-group row">
        <label for="podName" class="col-sm-2 col-form-label">Pod Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control w-25" id="podName" name="podName">
        </div>
      </div>
      <div class="form-group row">
        <label for="namespace" class="col-sm-2 col-form-label">Namespace</label>
        <div class="col-sm-10">
          <input type="text" class="form-control w-25" id="namespace" name="namespace">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 text-left">
          <button type="submit" class="btn btn-secondary">Deploy</button>
        </div>
      </div>
    </form>
    {{end}}
  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

<script>
  $(document).ready(function(){
});

function ajaxRequest(url, selectedElement){
  $.ajax({
    url: url,
    cache: false,
    success: function(html) {
      selectedElement.html(html)
    },
    error: function() {
      selectedElement.html("Error")
    }
  })
}
</script>

</html>